h1 {
    color: mediumblue;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: xxx-large;
}
h2 {
    color: mediumblue;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    
}
p {
    color: mediumblue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-small;
}
li {
    font-size: 20px;
    }
body {
    background-color: darkgrey;
}
img {
    height: 400px;
    width: 441px;
}   /* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: rgb(38, 123, 126);
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: cadetblue;
  color: black;
